

body {
  * {
    box-sizing: border-box;
  }
  body {
    width: 1160px;
    margin: 0 auto;
     }
}


title {
  text-decoration: none;
}

 a,
.green {

  color: rgb(174, 218, 105);
  transition: 0.4s;
  padding: 3px;
} 







 

 
