@import './base.css';

* {
  box-sizing: border-box;
}
body {
  width: 1160px;
  margin: 0 auto;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* main {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:space-around;
}
#app {
  width: 100%;
} */